<div class="post-show">
  <%= image_tag(@post.banner) %>
</div>
<div class="container mt-2">
  <div class="row">
    <div class="jumbotron">
      <h1 class="display-4">
        <%= link_to @post.title, root_path %>
      </h1>
      <p class="lead">
        <%= @post.updated_at.strftime('%A, %B %e, %Y') %> by <%= @post.user.username %> | <%= pluralize(@post.views, 'view') %> |
        <%= pluralize(@num_comments, "Comment") %> |
                <% if current_user && (current_user.admin || current.user == @post.user)%>
                <%= link_to "Delete", @post, method: :delete %>
                <% end %>
      </p>
      <hr class="my-4" />
      <div class="post_body">
        <%= @post.body %>
      </div>

      <hr class="my-4" />
      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Back', posts_path %>
    </div>
  </div>
</div>

<div class="container">
  <%= render 'comments/form', commentable: @post, local: Comment.new %>
  <div id="comment-pane">
    <% @comments.each do |comment| %>
      <%= render comment %>
    <% end %>
  </div>
</div>
